{% extends "boatski/base.html"%}

{% block "content" %}
    <h1>Create/Edit Booking</h1>
        <form method="POST">
            {% csrf_token %}
            <table class="table table-striped table-hover">
                {{form.as_table}}   
            </table>
            {% if not object %}       
            <input type="submit" value="Book">
            {% else %}
            <input type="submit" value="Save">
            {% endif %}
            {% if object %}
            <a href="/bookings/{{ object.pk }}/delete">
                <input type="button" value="Delete">
            </a>
            {% endif %}
        </form>

{% endblock "content" %}